.example-spacer {
    flex: 1 1 auto;
  }
  .toolbar{
    background-color: rgb(55, 73, 236);
    text-align: center;
  }
 h1{
    text-align: center;
    color: white;
    align-items: center;
  
  }
  mat-toolbar{
    text-align: center;
  }

button{
    background-color: rgb(198, 208, 223);
}