<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

<mat-toolbar class="toolbar">
    <h1 class="heading-text">SEDIBENG TVET COLLEGE</h1>
    <span class="example-spacer" ></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>facebook</mat-icon>
      </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>whatsapp</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    </mat-toolbar>
