:host{
    display: flex;
    flex-direction: column;;
    height: 100%;
}

mat-drawer{
    width: 260px;
    background-color: rgb(55, 73, 236);
}

mat-drawer-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    background-color: skyblue;
    width: 200px;
}
