<mat-nav-list>
    <div class="logo">
        <img src="" alt="Comapnu logo">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Application</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home  
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> 
    
    </a>
    <a mat-list-item><mat-icon>edit</mat-icon>Modules </a>
    <a mat-list-item><mat-icon>Scool</mat-icon> Academic History</a>
    <a mat-list-item><mat-icon>edit</mat-icon> Profile</a>
</mat-nav-list>