.logo{
 
   
}

img{ 
    height: 175px;  
    width: 275px;  
   
  }

.mat-icon{
    vertical-align: center;
    margin-right: 1rem;
}

.mat-divider{
    border-top-width: 2px;
    border-color: white;
}

.mat-list-item{
    color: #ffffff !important;
    font-size: 1.0rem;
    height: 44px !important;
    margin-bottom: 4px;
    border-radius: 5px;
    margin: 0 8px;
    &:hover {
        background-color: #2c3344 !important;
    }
}